<head>
    <link rel="preload" href="/css/estilo-tarjeta.css" as="style" />
    <link rel="stylesheet" href="/css/estilo-tarjeta.css"/>
</head>
<body>
    <section class="cuerpo">
        <div class="contenedor-form sombra">
            <div class="titulo">
                <h1>Tarjeta de Debito/Credito</h1>
            </div>
            <div class="datos">
                <form class="formulario" id="formulario" action="/pago/detalles-tarjeta/update/{{usuario3._id}}?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <fieldset>
                        <div class="campos esp">
                            <div class="titular esp">
                                <label for="txtNombre" class="formulario-label">*Nombre del titular</label>
                                <input type="text" id="txtNombre" class="nombre" name="titular" placeholder="Ingrese el nombre del titular de la cuenta"/>
                                <div class="mensaje-error">
                                  <p>Error message</p>
                                </div>
                            </div>
                            <div class="numero esp">
                              <label for="txtNumero" class="formulario-label">*Numero de tarjeta</label>
                              <input type="text" id="txtNumero" class="n-tarjeta" name="numeroTarjeta" placeholder="Ingrese el numero de tarjeta"/>
                              <div class="mensaje-error">
                                <p>Error message</p>
                              </div>
                            </div>
                            <div class="fecha-codigo">
                                <div class="fecha">
                                  <label for="txtFecha" class="formulario-label">*Fecha de expiracion</label>
                                  <div class="cad">
                                    <div class="mes esp">
                                      <!-- <input type="s" id="txtMes" class="fecha" placeholder="Ingrese su nombre"/> -->
                                      <select name="mes" id="txtMes" class="" name="mesExp">
                                        <option value="mes" selected disabled>Mes</option>
                                      </select>
                                      <div class="mensaje-error">
                                        <p>Error message</p>
                                      </div>
                                    </div>
                                    <div class="año esp">
                                      <!-- <input type="month" id="txtAño" class="fecha" placeholder="Ingrese su nombre"/> -->
                                      <select name="año" id="txtAño" class="" name="añoExp">
                                        <!-- <option value="año" selected disabled>Año</option> -->
                                      </select>
                                      <div class="mensaje-error">
                                        <p>Error message</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="codigo esp">
                                  <label for="txtCodigo" class="formulario-label">*Codigo de seguridad</label>
                                  <input type="text" id="txtCodigo" class="c-seguridad" placeholder="Ingrese el codigo" name="CVV"/>
                                  <div class="mensaje-error">
                                    <p>Error message</p>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-ingresos">
                          <!-- <div class="cont"> -->
                            <div class="ingresar crear-cuenta">
                                <a href="/pago/metodo" class="btn-crear">Cambiar metodo</a>
                            </div>
                            <div class="ingresar login">
                              {{!-- <a href="/pago/detalles-tarjeta/update">Continuar</a> --}}
                              <button type="submit">Continuar</button>
                            </div>
                         <!--  </div> -->
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
</body>
    <script src="/js/tarjeta.js"></script>
