<head>
    <link rel="preload" href="/css/estilosc.css" as="style" />
    <link href="/css/estilosc.css" rel="stylesheet" />
</head>
<body>
     <div class="titulo">
        <p>Contactanos</p> 
    </div>
    <section class="contenedor sombra">
        <form class="formulario" action="/contacto" method="POST">
            <fieldset>
              <div class="texto">
                  <p>
                    <span>¿Tienes alguna duda o pregunta?</span><br>
                    Llena los siguientes campos de datos para conocer tu opinión sobre nuestros servicios. <br>
                    ¡Trataremos de brindarte una respuesta lo más pronto posible!
                  </p>
              </div>
              <div class="campos">
                  <div class="campo" id="cnom">
                      <label for="txtNombre">*Nombre</label>
                      <input class="input-campos" name="nombre" type="text" id="txtNombre" placeholder="Ingrese su nombre">
                  </div>
                  <div class="campo" id="ccor">
                      <label for="txtCorreo">*Correo electrónico</label>
                      <input class="input-campos" name="correo" type="text" id="txtCorreo" placeholder="Ingrese su correo electrónico">
                  </div>
                  <div class="campo" id="casu">
                      <label for="txtAsunto">*Asunto</label>
                      <input class="input-campos" name="asunto" type="text" id="txtAsunto" placeholder="Ingrese el asunto">
                  </div>
                  <div class="campo" id="ctel">
                      <label for="txtNum">*Número de teléfono</label>
                      <input class="input-campos" name="numero" type="text" id="txtNum" placeholder="Ingrese su número de teléfono">
                  </div>
                  <div class="campo" id="ctex">
                      <label for="txtMensaje">*Mensaje</label>
                      <textarea class="input-campos" name="mensaje" name="" id="txtMensaje"></textarea>
                  </div>
              </div>
              <div class="alinear">
                  <input type="submit" class="boton" value="Enviar">
              </div>
              <hr>
            <div class="formas">
                <p>Otras formas de contacto</p>
                <div class="forma">
                    <div class="iconos">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="52" height="52" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                          </svg>
                    </div>
                    <div class="iconos">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="52" height="52" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <rect x="3" y="5" width="18" height="14" rx="2" />
                            <polyline points="3 7 12 13 21 7" />
                          </svg>
                    </div>
                </div>
            </div>
            <div class="formas">
              <div class="forma">
                  <div class="infoc">
                      <p>Número de teléfono</p>
                      <p><span>353-102-3234</span></p>
                  </div>
                  <div class="infoc">
                      <p>Correo electrónico</p>
                      <p> <span>farmaciarefugio@gmail.com</span></p>
                  </div>
              </div>
          </div>
        </fieldset>
      </form>
    </section>
</body>
    <script src="/js/vfc.js"></script>
