<head>
    <link rel="preload" href="/css/estilod.css" as="style" />
    <link href="/css/estilod.css" rel="stylesheet">
</head>
<body>
    <section class="contenedor sombra">
        <form class="formulario" action="/direccion-envio/update/{{usuarioD._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
              <p>Dirección de envío</p> 
              <div class="campos">
                  <div class="campo" id="cloc">
                      <label for="txtLocalidad">*Localidad</label>
                      <input class="input-campos" type="text" name="localidadCliente" id="txtLocalidad" placeholder="Ingrese su localidad">
                  </div>
                  <div class="campo" id="cest">
                      <label for="txtEstado">*Estado</label>
                      <input class="input-campos" type="text" name="estadoCliente" id="txtEstado" placeholder="Ingrese su estado">
                  </div>
                  <div class="campo" id="ccp">
                      <label for="txtCP">*Código Postal</label>
                      <input class="input-campos" type="text" name="codigoPostalUsuario" id="txtCP" placeholder="Ingrese su CP">
                  </div>
                  <div class="campo" id="cnumc">
                      <label for="txtNumc">*Número de contacto</label>
                      <input class="input-campos" type="text" name="numeroContacto" id="txtNumc" placeholder="Ingrese su número celular">
                  </div>
                  <div class="campo" id="cmun">
                      <label for="txtMunicipio">*Municipio</label>
                      <input class="input-campos" type="text" name="municipioUsuario" id="txtMunicipio" placeholder="Ingrese su municipio">
                  </div>
                  <div class="campo" id="ccol">
                      <label for="txtColonia">*Colonia</label>
                      <input class="input-campos" type="text" name="coloniaUsuario" id="txtColonia" placeholder="Ingrese su colonia">
                  </div>
                  <div class="campo" id="ccall">
                      <label for="txtCalle">*Calle</label>
                      <input class="input-campos" type="text" name="calleUsuario" id="txtCalle" placeholder="Ingrese su calle">
                  </div>
                  <div class="campo" id="cnum">
                      <label for="txtNum">*Número</label>
                      <input class="input-campos" type="text" name="numeroUsuario" id="txtNum" placeholder="Ingrese su número">
                  </div>
                  <div class="campo" id="cind">
                      <label for="txtIndicaciones">Indicaciones adicionales</label>
                      <textarea class="input-campos" name="indAdicionalesUsuario" id="txtIndicaciones"></textarea>
                  </div>
              </div>
              <div class="botones">
                <input type="submit" class="boton-regresar" value="Regresar al carrito">
                <input type="submit" class="boton-confirmar" value="Confirmar dirección">
              </div>
        </form>
    </section>
</body>
    <script src="js/vfd.js"></script>
    <script src="js/mh.js"></script>