<head>
    <link rel="preload" href="/css/estilo-nosotros.css" as="style"/>
    <link rel="stylesheet" href="/css/estilo-nosotros.css"/>
</head>
<body>
    <section>
      <div class="principal">
        <div class="conocenos">
          <div class="info-c">
            <h1>Conocenos</h1>
            <p>
              En Farmacia del Refugio nuestro objetivo es brindar la mejor
              atencion a nuestros clientes ofreciendo nuestros productos a los
              mejores precios posibles
            </p>
          </div>
          <div class="contorno-1">
            <img src="/img/nosotros-1.png">
          </div>
        </div>
        <div class="inicio">
          <div class="contorno-2">
            <img src="/img/nosotros-2.png">
          </div>
          <div class="info-i">
            <h3>Inicios</h3>
            <p>
              El negocio comenzo con sus actividades en enero del 2007, somos
              actualmente un negocio bastante nuevo y con alcance regional, pero
              eso no nos ha detenido para avanzar hacia adelante y brindar el
              mejor servicio posible.
            </p>
          </div>
        </div>
        <div class="valores">
          <h3>Nuestros Valores</h3>
          <p>
            En Farmacia del Refugio seguimos siempre los principios de
            honestidad, responsabilidad, amiabilidad y servicio para otorgar la
            mejor a atencion y precios a nuestros clientes
          </p>
        </div>
      </div>
    </section>
</body>