<head>
    <link rel="preload" href="/css/olvidar-contra.css" as="style" />
    <link rel="stylesheet" href="/css/olvidar-contra.css" />
</head>
<body>
    <section class="cuerpo">
        <div class="contenedor-form sombra">
            <div class="titulo">
                <h1>Recuperar contraseña</h1>
            </div>
            <div class="datos">
                <form class="formulario" id="formulario">
                    <fieldset>
                        <div class="campos">
                            <div class="correo esp">
                                <label for="txtCorreo" class="formulario-label">*Correo electrónico con el que se ha registrado</label>
                                <input type="text" id="txtCorreo" class="campo-w100" placeholder="Ingrese su correo electronico" />
                                <div class="mensaje-error" id="errorNombre">
                                  <p>Error message</p>
                                </div>
                            </div>
                        </div>
                        <div class="btn-ingresos">
                          <div class="cont">
                            <div class="ingresar login">
                                <input class="boton" type="submit" value="Continuar" />
                            </div>
                          </div>
                        </div>
                    </fieldset>
                </form>
                <div class="btn-ingresos">
                  <div class="cont">
                    <div class="ingresar crear-cuenta">
                      <a href="/iniciar-sesion" class="btn-crear">Atras</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </section>
</body>
    <script src="/js/olvidar-contra.js"></script>
    