:root{
    --primario: #6774F1;
    --primario-oscuro: #4C56BD;
    --rojo: #C70000;
    --blanco: #ffffff;
    --oscuro: #212121;
    --gris: #757575;
    --gris_claro: #F7F7F7;
}

/* Generales */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{ 
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    font-family: 'serif', sans-serif;
    background-image: linear-gradient(to top, var(--grisazulado) 0%, var(--blanco) 100%);
}

img{
    width: 100%;
}

h1, h2, h3{
    text-align: center;
}

.contenedor
{
    max-width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}

.sombra
{
    box-shadow: 3px 5px 15px 3px rgba(112, 112, 112, .5);
    padding: 2rem;
    margin-top: 2rem;
    background-color: var(--blanco);
    border-radius: 1rem;
    border: solid 1px black;
}

.encabezado p
{
    font-weight: bold;
    font-size: 3.5rem;
    margin: 0%;
    margin-bottom: .5rem;
}

.contenedor-forma
{
    border: solid 1px #B8B8B8;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
}

.imagen img
{
    width: 20%;
}

.imagen
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imagen p
{
    font-size: 1.8rem;
    font-weight: bolder;
}

.in
{
    width: 90%;
}

.check
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chk
{
    border-radius: 50%;
    appearance: none;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    background-color: white;
    border: 1px solid #B8B8B8;
}

.chk:checked
{
    background-color: var(--primario);
}

.botones
{
    display: flex;
    justify-content: space-between;
}

.botones .boton-regresar
{
    padding: .5rem 7rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2rem;
    border:solid 1px var(--primario);
    color: var(--primario);
    background-color: var(--blanco);
    width: auto;
    text-align: center;
    cursor: pointer;
}

.botones .boton-confirmar
{
    padding: .5rem 4rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2rem;
    border:solid 1px var(--primario);
    color: var(--blanco);
    background-color: var(--primario);
    width: auto;
    text-align: center;
    cursor: pointer;
}

@media (max-width:900px)
{ 
    .contenedor
    {
        max-width: 95%;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .menu-abajo
    {
        display: none;
    }
}

@media (max-width:550px)
{ 
    .botones{
        display: flex;
        flex-direction: column;
    } 
    
    .botones .boton-regresar{
        margin-bottom: 2rem;
    }

    .contenedor-forma p
    {
        display: none;
    }

    .imagen img
    {
        width: 40%;
    }

    .in
{
    width: 80%;
}

.chk
{
    width: 3rem;
    height: 3rem;
}
}
