:root{
    --primario: #6774F1;
    --primario-oscuro: #4C56BD;
    --rojo: #C70000;
    --blanco: #ffffff;
    --oscuro: #212121;
    --gris: #757575;
    --gris_claro: #F7F7F7;
    --tipo-letra: 'PT Serif', 'Sans Serif', serif, sans-serif;
}

/* Generales */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{ 
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    font-family: 'PT Serif', serif;
    background-image: linear-gradient(to top, var(--grisazulado) 0%, var(--blanco) 100%);
}

img{
    width: 100%;
}

h1, h2, h3{
    text-align: center;
}

.contenedor
{
    max-width: 90%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.laterald
{
    width: 100%;
    margin: 1rem;
}

.productos
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4rem;
    row-gap: 4rem;
}

.contenedor-producto
{
    margin-bottom: 4rem;
}

.imagen
{
    width: 100%;
    height: 75%;
    border: solid 1px lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
}

.extra
{
    margin-bottom: 2rem;
}

.precio
{
    color: var(--primario);
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 1rem;
}

.preciod
{
    color: #B8B8B8;
    font-size: 13px;
    text-decoration: line-through;
}

.boton
{
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-color: var(--primario);
    color: var(--blanco);
    background-color: var(--primario);
    width: auto;
    text-align: center;
    border-style: none;
}

@media (max-width:1086px)
{ 
    .productos
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    row-gap: 4rem;
}
}

@media (max-width:812px)
{ 
    .productos
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 3rem;
}

.contenedor-producto
{
    margin-bottom: 3rem;
}
}

@media (max-width:536px)
{ 
.productos
{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.contenedor-producto
{
    margin-bottom: 2rem;
}
}