<div class="menu-nav">
      <header class="encabezado">
        <div class="menu-arriba">
          <div class="contenedor-logo">
            <div class="logo">
              <a href="/">
                <img src="/img/logo.jpeg">
              </a>
            </div>
          </div>
          <div class="busqueda">
            <div class="icono-busqueda">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <circle cx="10" cy="10" r="7" />
                <line x1="21" y1="21" x2="15" y2="15" />
              </svg>
            </div>
            <div class="barra">
              <input type="input" placeholder="Buscar" required />
            </div>
          </div>
          <div class="iconos">
            <div class="usuario">
              <div class="icono">
                <!-- <a href="/html/inicio-sesion.html"> -->
                <a href="/iniciar-sesion">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <circle cx="12" cy="7" r="4" />
                  <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="carrito">
              <div class="icono">
                <a href="/html/tarjeta.html">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="6" cy="19" r="2" />
                    <circle cx="17" cy="19" r="2" />
                    <path d="M17 17h-11v-14h-2" />
                    <path d="M6 5l14 1l-1 7h-13" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="menu-hamburguesa" id="menu-hamburguesa">
              <div class="icono toggle-menu" id="toggle-menu">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <line x1="4" y1="6" x2="20" y2="6" />
                  <line x1="4" y1="12" x2="20" y2="12" />
                  <line x1="4" y1="18" x2="20" y2="18" />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="menu-abajo">
          <nav class="navegacion-principal">
            <ul class="menu-links">
              <li class="menu-item"><a href="/" class="menu_link">Inicio</a></li>
              <li class="menu-item menu-item-show fg">
                <a href="#" class="menu_link">Categorias
                  <div class="expandir-icono cat">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <polyline points="9 6 15 12 9 18" />
                    </svg>
                  </div>
                </a>
                <ul class="menu_nesting">
                  <li class="menu_inside menu-item-show">
                    <a href="#" class="menu_link menu_link-inside">Medicamentos 
                      <div class="expandir-icono">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="#6774F1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                          <polyline points="9 6 15 12 9 18" />
                        </svg>
                      </div>
                      <div class="expandir-icono anim">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                          <polyline points="9 6 15 12 9 18" />
                        </svg>
                      </div>
                    </a>
                    <ul class="menu_nesting-inside">
                      <li class="menu_inside-2"><a href="/productos/Antibioticos" class="menu_link menu_link-inside menu-link-inside-2">Antibioticos</a></li>
                      <li class="menu_inside-2"><a href="/productos/Anti-Inflamatorio" class="menu_link menu_link-inside menu-link-inside-2">Anti-Inflamatorio</a></li>
                      <li class="menu_inside-2"><a href="/productos/Gripe" class="menu_link menu_link-inside menu-link-inside-2">Gripe y Tos</a></li>
                    </ul>
                  </li>
                  <li class="menu_inside menu-item-show">
                    <a href="/productos/Nutricion" class="menu_link menu_link-inside">Nutricion
                      <div class="expandir-icono">
                        {{!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="#6774F1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                          <polyline points="9 6 15 12 9 18" /> 
                        </svg>--}}
                      </div>
                    </a>
{{!--                     <ul class="menu_nesting-inside">
                      <li class="menu_inside-2"><a href="#" class="menu_link menu_link-inside menu-link-inside-2">Vitaminas</a></li>
                      <li class="menu_inside-2"><a href="#" class="menu_link menu_link-inside menu-link-inside-2">Suplementos</a></li>
                      <li class="menu_inside-2"><a href="#" class="menu_link menu_link-inside menu-link-inside-2">Complementos</a></li>
                    </ul> --}}
                  </li>
                  {{!-- <li class="menu_inside"><a href="/productos/MaterialQuirurgico" class="menu_link menu_link-inside">Mat. Quirurgico</a></li> --}}
                  <li class="menu_inside menu-item-show">
                    <a href="/productos/Dermatologia" class="menu_link menu_link-inside">Dermatologia
                      <div class="expandir-icono">
                        {{!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="#6774F1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                          <polyline points="9 6 15 12 9 18" />
                        </svg> --}}
                      </div>
                    </a>
                    {{!-- <ul class="menu_nesting-inside">
                      <li class="menu_inside-2"><a href="#" class="menu_link menu_link-inside menu-link-inside-2">Capilar</a></li>
                      <li class="menu_inside-2"><a href="#" class="menu_link menu_link-inside menu-link-inside-2">Corporal</a></li>
                      <li class="menu_inside-2"><a href="#" class="menu_link menu_link-inside menu-link-inside-2">Facial</a></li>
                      <li class="menu_inside-2"><a href="#" class="menu_link menu_link-inside menu-link-inside-2">NutriCosmeticos</a></li>
                      <li class="menu_inside-2"><a href="#" class="menu_link menu_link-inside menu-link-inside-2">Proteccion Solar</a></li>
                    </ul> --}}
                  </li>
                  <li class="menu_inside"><a href="/productos/CuidadoPersonal" class="menu_link menu_link-inside">Cuidado Personal</a></li>
                  {{!-- <li class="menu_inside"><a href="/productos/HigieneBucal" cclass="menu_link menu_link-inside">Higiene Bucal</a></li> --}}
                  <li class="menu_inside"><a href="/productos/o/oferta" class="menu_link menu_link-inside">Ofertas</a></li>
                </ul>
              </li>
              <!-- <li><a href="#">Ofertas</a></li> -->
              <li class="menu-item"><a href="/nosotros" class="menu_link">Nosotros</a></li>
              <li class="menu-item"><a href="/contacto" class="menu_link">Contacto</a></li>
              <li class="menu-item link-carrito"><a href="#" class="menu_link">Carrito</a></li>
            </ul>
          </nav>
        </div>


          <div class="menu-desplegable" id="menu-desplegable">
            <nav class="navegacion-hamburguesa">
              <ul class="menu-links">
                <li class="menu-item"><a href="/" class="menu_link">Inicio</a></li>
                <li class="menu-item menu-item-show fg">
                  <a href="#" class="menu_link">Categorias
                    <div class="expandir-icono cat">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <polyline points="6 9 12 15 18 9" />
                      </svg>
                    </div>
                  </a>
                  <ul class="menu_nesting">
                    <li class="menu_inside menu-item-show-2">
                      <a href="#" class="menu_link menu_link-inside">Medicamentos 
                        <div class="expandir-icono">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="#6774F1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <polyline points="9 6 15 12 9 18" />
                          </svg>
                        </div>
                      </a>
                      <ul class="menu_nesting-">
                        <li class="menu_inside-2"><a href="/productos/Antibioticos" class="menu_link menu_link-inside menu-link-inside-2">Antibioticos</a></li>
                        <li class="menu_inside-2"><a href="/productos/Anti-Inflamatorio" class="menu_link menu_link-inside menu-link-inside-2">Anti-Inflamatorio</a></li>
                        <li class="menu_inside-2"><a href="/productos/Gripe" class="menu_link menu_link-inside menu-link-inside-2">Gripe y tos</a></li>
                      </ul>
                    </li>
                    <li class="menu_inside menu-item-show-2">
                      <a href="/productos/Nutricion" class="menu_link menu_link-inside">Nutricion
                        <div class="expandir-icono">
                          {{!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="#6774F1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <polyline points="9 6 15 12 9 18" /> 
                          </svg>--}}
                        </div>
                      </a>
                     {{!--  <ul class="menu_nesting-">
                        <li class="menu_inside-2"><a href="#" class="menu_link menu_link-inside menu-link-inside-2">Vitaminas</a></li>
                        <li class="menu_inside-2"><a href="#" class="menu_link menu_link-inside menu-link-inside-2">Suplementos</a></li>
                        <li class="menu_inside-2"><a href="#" class="menu_link menu_link-inside menu-link-inside-2">Complementos</a></li>
                      </ul> --}}
                    </li>
                    {{!-- <li class="menu_inside"><a href="/productos/MaterialQuirurgico" class="menu_link menu_link-inside">Mat. Quirurgico</a></li> --}}
                    <li class="menu_inside menu-item-show-2">
                      <a href="/productos/Dermatologia" class="menu_link menu_link-inside">Dermatologia
                        <div class="expandir-icono">
                          {{!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="#6774F1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <polyline points="9 6 15 12 9 18" />
                          </svg> --}}
                        </div>
                      </a>
                      {{!-- <ul class="menu_nesting-">
                        <li class="menu_inside-2"><a href="#" class="menu_link menu_link-inside menu-link-inside-2">Capilar</a></li>
                        <li class="menu_inside-2"><a href="#" class="menu_link menu_link-inside menu-link-inside-2">Corporal</a></li>
                        <li class="menu_inside-2"><a href="#" class="menu_link menu_link-inside menu-link-inside-2">Facial</a></li>
                        <li class="menu_inside-2"><a href="#" class="menu_link menu_link-inside menu-link-inside-2">NutriCosmeticos</a></li>
                        <li class="menu_inside-2"><a href="#" class="menu_link menu_link-inside menu-link-inside-2">Proteccion Solar</a></li>
                      </ul> --}}
                    </li>
                    <li class="menu_inside"><a href="/productos/CuidadPersonal" class="menu_link menu_link-inside">Cuidado Personal</a></li>
                    {{!-- <li class="menu_inside"><a href="/productos/HigieneBucal" class="menu_link menu_link-inside">Higiene Bucal</a></li> --}}
                    <li class="menu_inside"><a href="/productos/o/oferta" class="menu_link menu_link-inside">Ofertas</a></li>
                  </ul>
                </li>
                <!-- <li><a href="#">Ofertas</a></li> -->
                <li class="menu-item"><a href="/nosotros" class="menu_link">Nosotros</a></li>
                <li class="menu-item"><a href="/contacto" class="menu_link">Contacto</a></li>
                <li class="menu-item"><a href="#" class="menu_link">Carrito</a></li>
              </ul>
            </nav>
          </div>
          
      </header>
    </div>